<%= form_with(model: review) do |form| %>
<% if review.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

  <ul>
    <% review.errors.each do |error| %>
    <li><%= error.full_message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">
  <%= form.label :title %>
  <%= form.text_field :title %>
</div>

<div class="field">
<%= form.radio_button :category, 'game'%>
<%= form.label :category, t('game') %>

<%= form.radio_button :category, 'film'%>
<%= form.label :category, t('film') %>

<%= form.radio_button :category, 'serial'%>
<%= form.label :category, t('serial') %>

<%= form.radio_button :category, 'book'%>
<%= form.label :category, t('book') %>

</div>

<div class="field">
  <%= form.label :rich_description %>
  <%= form.rich_text_area :rich_description %>
</div>

<div class="field">
  <%= form.label :authors_grade %>
  <%= form.number_field :authors_grade %>
</div>

<div class="actions">
  <%= form.submit %>
</div>

<% end %>

