<p id="notice"><%= notice %></p>

<h1><%= t('reviews.title') %></h1>
<div class = 'add-button'>
  <%= link_to t('new'), new_review_path %>
</div>
 <% @reviews.each do |review| %>
 <div class='container own-container'>
  <div class='row '>
    <div class="col meta-inf">
      <div class='row'>
        <strong><%=t("title")%>:</strong>
        <%=link_to review.title, review %>
      </div>
      <div class='row'>
        <strong><%=t("category")%>:</strong>
        <%= review.category %>
      </div>
      <div class='row'>
        <strong><%=t("auth_grade")%>:</strong>
        <%= review.authors_grade %>
      </div>
      <div class='row'>
        <strong><%=t("avg")%>:</strong>
        <% rating = review.find_votes_for(vote_scope: 'rank').sum(:vote_weight).to_f  %>
        <% total = review.find_votes_for(vote_scope: 'rank').size.to_f %>
        <%= total== 0 ? "no raties" : (rating / total).round(1) %>
      </div>
      <div class='row'>
        <strong><%=t("author")%>:</strong>
        <%= User.find(review.user_id).email %>
      </div>
      <div class='row own-row'>
       <span><%= link_to "1", vote_path(review,:score => 1) %></span>
      <span><%= link_to "2", vote_path(review,:score => 2) %></span>
      <span><%= link_to "3", vote_path(review,:score => 3) %></span>
      <span><%= link_to "4", vote_path(review,:score => 4) %></span>
      <span><%= link_to "5", vote_path(review,:score => 5) %></span>
      </div>
       <div class='row omwn-row'>
        <span><%= link_to image_tag('like.png'),   favorited_path(review) %></span>
      <span><%= link_to image_tag('dislike.png'),   unfavorited_path(review) %></span>
      </div>
    </div> 
    <div class="col-6">

      <%= review.rich_description %>
    </div>

  </div>
</div>
 <%end%>
 <ul class='paginates'>
  <% (1..@pages_count).each do |page| %>
    <li class=<%="#{@current_page == page ? 'active' : ''}"%>>
      <%= link_to "Page #{page}", reviews_path(page: page)%>
    </li>  
  <%end%>
</ul>