<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @review.title %>
</p>

<p>
  <strong>Category:</strong>
  <%= @review.category %>
</p>

<p>
  <strong>Description:</strong>
  <%= @review.description %>
</p>

<p>
  <strong>Authors grade:</strong>
  <%= @review.authors_grade %>
</p>

<p>
  <strong>айди:</strong>
  <%= @review.user_id %>
</p>

 <%= @review.rich_description %>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
